@import "../../variables";

.icons {
  justify-content: center;
  padding: 3.5rem 0;

  @include tablet {
    padding: 3.5rem 0;
  }

  @include laptop {
    padding: 3.5rem 0;
  }

  @include desktop {
    padding: 3.5rem 0;
  }
}

.icon-button {
  font-size: 2rem;

  @include tablet {
    font-size: 2.5rem;
  }

  @include laptop {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 3.2rem;
  }
}
